body {
    background: #e3ade5 !important;
    font-family: Arial;
    color: #2a2a2a;
}

.navbar {
    background: #8ecae6;
}

h2,
h4 {
    color: black;
}

.card {
    background: #eec5c5;
    border-radius: 12px;
    border: 2px solid #0a0a0a;
}

.card img {
    height: 300px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.card-title {
    font-weight: bold;
    color: black;
}

.btn-primary {
    background-color: navy !important;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    min-width: 100px;
}

.btn-primary:hover {
    background-color: #4f46ad !important;
}

.btn-primary:active {
    background-color: lightblue !important;
}

#cart-section,
#checkout-section {
    background: #ffb3c6;
    border-radius: 12px;
    padding: 25px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
    border: 2px solid #d67890;
}

.form-label {
    color: black;
}

.form-control {
    background: #457ec9;
}

.form-control:focus {
    box-shadow: #4a6c9d;
}

#confirmation-section {
    background: #b1ddf3;
    border: 2px solid #234764;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

button[type="submit"] {
    background-color: #8dbcdc;
    border-color: #456ba1;
}

button[type="submit"]:hover {
    background-color: #2459a2;
    border-color: #8dbcdc;
}

.logo-icon {
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.logo-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    letter-spacing: 0.5px;
}

.footer {
    background: #8ecae6;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.08);
}

.footer-text {
    color: black;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

#cart-notification {
    border-radius: 5px;
    top: 5px;
    transform: translateX(-50%);
    background: #eec5c5;
    color: black;
    position: fixed;
    left: 50%;
    padding: 10px;
    z-index: 1000;
    display: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}